@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}