@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor1: #E8CBBA;
    --cor2: #E8A174;
    --cor3: #9C6C4E;
    --cor4: #694834;

    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font-padrao: 'Sriracha', cursive;
    --font-titulo: 'Courgette', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: var(--cor1);
    font-family: var(--font1);
}

body{
    background-color: lightgray;
}

header{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 60px;
}

h1{
    font-family: var(--font-titulo);
    font-size: 6vw;
    font-variant: small-caps;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
}

header a:hover{
    text-decoration: underline;
    color: white;
}

main{
    font-family: var(--font-padrao);
}

section{
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    line-height: 2em;
}

section > p{
    padding: 30px 0px;
    margin: 20px 0px;
}

section.normal{
    background-image: linear-gradient(360deg, var(--cor2), var(--cor3));
}

section.imagem{
    background-color: transparent;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    box-shadow: inset 0px 5px 10px #00000084;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: #0000007d;
    color: white;
    border-radius: 5px;
    text-shadow: 2px 2px 1px #000000ab;
    width: 250px;
    padding: 15px;
}

section#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img2{
    background-image: url('../imagens/background002.jpg');
    background-position: right bottom;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: var(--cor3);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}