@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor1: #E8CBBA;
    --cor2: #E8A174;
    --cor3: #9C6C4E;
    --cor4: #694834;

    --font-padrao: 'Sriracha', cursive;
    --font-titulo: 'Courgette', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: var(--cor1);
}

body{
    background-color: lightgray;
    font-family: var(--font-padrao);
}

header{
    background-color: var(--cor4);
    color: white;
    font-family: var(--font-padrao);
    text-align: center;
    padding: 60px;
}

h1{
    font-family: var(--font-titulo);
    font-size: 3.5em;
    font-variant: small-caps;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
}

header a:hover{
    text-decoration: underline;
    color: white;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2em;
}

section.normal{
    background-color: var(--cor2);
}

section.imagem{
    background-color: transparent;
}

section.imagem > p{
    background-color: #0000003c;
    width: 300px;
    padding: 15px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    color: var(--cor3);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}