@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
#4BFBE9 mais claro
#00FAE1 claro
#00C7B4 normal
#2B8077 escuro
#007A6E mais escuro
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #02e8d1;
}

header{
    background-image:linear-gradient(-360deg, #2B8077, #00FAE1);
    padding: 10px;
    margin: 0px;
    color: white;
    box-shadow: 1px 2px 5px 1px #00000063;
}

header > h1{
    font-family: 'titulo', 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 1px #000000a5;
}

header > p{
    text-align: center;
    text-shadow: 1px 1px 1px #000000a5;
}

nav > span{
    padding: 10px;
    text-align: left;
    font-weight: bold;
    background-color: #2B8077;
    border-radius: 0px 10px;
}

nav > span:hover{
    background-color: #007A6E;
}

main{
    background-color: white;
    margin: 0px 60px;
    padding: 10px;
}

section > h1{
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: #01756a;
}

article > h2{
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: #01756a;
    background-image: linear-gradient(90deg, #02e8d1, white 70%);
}

p > a{
    color: #015c53;
    text-decoration: none;
}

p{
    text-indent: 10px;
}

picture{
    align-items: center;
}

.destaque{
    color: #00ab9a;
}

iframe{
    margin: 0px;
}

.aprendermais{
    background-color: #7ffdf1;
    padding: 10px;
    margin-top: 0px;

}

section > span{
    background-color: #01756a;
    color: white;
    padding: 5px;
    margin: 0px;
    display: block;
}

footer{
    background-color: #015c53;
    color: white;
    text-align: center;
    padding: 2px;
}

footer > a{
    color: #00FAE1;
    text-decoration: none;
}

footer > a:hover{
    color: white;
    text-decoration: underline;
}