@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login-container{
        width: 85vw;
        flex-direction: row;
    }

    #login-container #img{
        width: 35%;
        height: 100%;
    }

    #login-container #form{
        width: 65%;
    }

    #form h1{
        padding: 10px;
    }

    #form .btn{
        width: 65%;
    }

    #forgot-pass{
        width: 65%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login-container{
        min-width: 800px;
        flex-direction: row-reverse;
    }

    #login-container #img{
        width: 50%;
        height: 100%;
    }

    #login-container #form{
        width: 50%;
    }

    
    #form h1{
        font-size: 32px;
    }

    #form p{
        font-size: 18px;
    }
}